<launch>
	
	<!-- resd waypoints -->	
<!--
	<node name="readWayPoints" pkg="readWayPoints" type="readWayPoints" output="screen">
	<param name ="file_pass" value="$(find readWayPoints)/"/>
	</node>
-->

	<!-- send to waypoint data -->		
	<node name="wp2action_client" pkg="wp2action_client" type="wp2action_client" output="screen">
	</node>
</launch>
