<launch>
	<node pkg="joy" name="joy_node" type="joy_node" output="screen">
	</node>


	<node pkg="transform_joy2navi" name="transform_joy2navi" type="transform_joy2navi" output="screen">
	</node>

	<node name="map_server" pkg="map_server" type="map_server" args="$(find launch)/wp_navi/map/kit_map.yaml my_map_resolution"/>	

	</launch>
